<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <br><br><footer>
        <div>
            <a href="/pets/contact" class="a">Контакты</a>
            <a href="/pets/about" class="a">О нас</a>
            <a href="/pets/rules" class="a">Правила использования</a>
            <a href="/pets/privacyPolicy" class="a">Политика конфиденциальности</a>
        </div>
        <div>
            <p>&copy; 2024 HelpDogsCorporation. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
