<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <a href="/pets/index"><h1 class="home">Добро пожаловать на сайт HelpDogsCorporation!</h1></a>
    <h3>Информация о заботе, здоровье и тренировке ваших питомцев.</h3>
    <div class="changeAccount">
        <a href="/"><button class="changeButton">Сменить аккаунт</button></a>
    </div><br>
</header>

<div class="content-container">
    <div class="content-block" id="dogFood">
        <h2>Корм для питомцев</h2>
        <p>Выбор правильного корма для вашего питомца - это важный аспект ее здоровья. У нас есть рекомендации по типам корма, диетическим особенностям и советы по кормлению.</p>
        <a href="/pets/food"><button class="primary-button">Подробнее о корме</button></a>
    </div>

    <div class="content-block" id="dogHealth">
        <h2>Заболевания и лекарства</h2>
        <p>Узнайте о наиболее распространенных заболеваниях у животных и о том, как правильно ухаживать за больным питомцем. Мы также предоставляем информацию о лекарствах и ветеринарных процедурах.</p>
        <a href="/pets/medication"><button class="secondary-button">Советы по здоровью</button></a>
    </div>

    <div class="content-block" id="dogTraining">
        <h2>Дрессировка у животных</h2>
        <p>Успешная дрессировка поможет укрепить связь между вами и вашим питомцем. Мы предлагаем советы по обучению командам, управлению непослушанием и другие полезные советы.</p>
        <a href="/pets/training"><button class="primary-button">Начать дрессировку</button></a>
    </div>
</div>
</body>
</html>
