<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>HDCorporation | Политика конфиденциальности</title>
</head>
<body>
<header>
    <a href="http://localhost:3000/pets/index"><h1 class="home">HelpDogsCorporation!</h1></a>
    <h3>О нас</h3>
</header>

<%- include('../symbtomsHeader') -%>

<div id="main-content">
    <h2>О Нас</h2>
    <p>
    Добро пожаловать на сайт HelpDogsCorporation, посвященный всем аспектам заботы, здоровья, лекарств, видов кормов и тренировки питомцев!
    Мы - команда людей, увлеченных и любящих животных, которые стремятся предоставить вам полезную и
    достоверную информацию для улучшения жизни ваших пушистых друзей.
    </p>

    <b>Наша миссия:</b>
    <p>
    Мы верим, что каждый питомец заслуживает заботы, внимания и оптимальных условий жизни.
    Наша цель - делиться знаниями и опытом, чтобы помочь вам принимать информированные решения относительно заботы о своих питомцах.
    </p>
    <b>Что мы предоставляем:</b>

    <b>Информация о Заботе:</b>
    <p>Советы и рекомендации по обеспечению комфортной и безопасной среды для ваших животных.</p>
    <b>Здоровье и Лекарства:</b>
    <p>Статьи о важности заботы о здоровье питомцев и использовании лекарств в предотвращении и лечении болезней.</p>
    <b>Виды Кормов:</b>
    <p>Обзоры и советы по выбору правильного корма для различных типов и возрастов животных.</p>
    <b>Тренировка Питомцев:</b>
    <p>Полезные советы и методики для обучения и воспитания ваших пушистых друзей.</p>
    <b>Почему выбрать нас:</b>
    <p>
        Мы обеспечиваем информацию, основанную на проверенных источниках и опыте нашей команды.
        Наша цель - быть вашим надежным партнером в создании счастливой и здоровой жизни для ваших питомцев.
    </p>

    <b>Свяжитесь с нами:</b>
    <p>Мы ценим ваши вопросы, отзывы и предложения. Если у вас есть вопросы или вы хотите поделиться своим опытом,
        не стесняйтесь связаться с нами через <a href="/pets/contact">[ваш контактный адрес].</a></p>

    <b>Благодарим вас за посещение нашего сайта, и надеемся, что вы найдете здесь полезную информацию для заботы о ваших любимцах!</b>
</div>
<%- include('../infoData') -%>

<%- include('../footer') -%>
</body>
</html>
