<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>HDCorporation | Ацепромазина малеат</title>
</head>
<body>
<header>
    <a href="http://localhost:3000/pets/index"><h1 class="home">HelpDogsCorporation!</h1></a>
    <h3>Ацепромазина малеат</h3>
</header>
<%- include('../symbtomsHeader') -%>
<h1 class="Symptom">Ацепромазина малеат</h1>

<div class="info">
    <h2>Что такое ацепромазина малеат?</h2>
    <p>Ацепромазина малеат – это ветеринарный седативный и транквилизаторный препарат, отпускаемый по рецепту.
    Таблетированная форма одобрена FDA для применения у собак и кошек, тогда как инъекционная форма одобрена FDA для применения у кошек,
    собак и лошадей. Его чаще всего используют при подготовке к анестезии, поскольку он может снизить объем общей анестезии,
        которая может потребоваться вашему питомцу. Препарат не следует применять у сельскохозяйственных животных.</p><br>

    <br><p>Применение ацепромазина у животных, кроме лошадей, собак и кошек, считается нарушением инструкции.
    Например, ветеринары часто назначают ацепромазин не по назначению в качестве вторичного лечения закупорки мочевых путей у кошек
    и ламинита у лошадей. Термин «использование не по назначению» или «вне этикетки» означает,
    что лекарство используется таким образом или в определенном виде, который не указан на этикетке лекарства.
        Хотя ветеринары часто прописывают лекарства не по назначению, ваш ветеринар определит, подходит ли ацепромазин вашему питомцу.</p>
    <h2>Как работает ацепромазин</h2>
    <p>
        Ацепромазин оказывает быстрое угнетающее действие на ЦНС, вызывает седативный эффект,
    мышечную релаксацию и снижение спонтанной активности.
    Как правило, ваш ветеринар будет постоянно наблюдать за вашим питомцем во время приема седативных средств и анестезии.
    Никакого облегчения боли это не дает.

        Ацепромазин также может помочь лошадям с ламинитом при лечении вазоспазмов благодаря
    своей способности расширять мелкие кровеносные сосуды и улучшать кровообращение.

        Некоторые собаки и породы собак с мутацией гена MDR1 более чувствительны к этому препарату,
    чем другие домашние животные. Поговорите со своим ветеринаром об альтернативных лекарствах или более низкой дозе ацепромазина,
    если у вашей собаки есть эта генетическая мутация.
    </p>
    <h2>Ацепромазин Направления</h2>
    <p>
        Следуйте инструкциям на этикетке препарата или рекомендациям ветеринара.
        Ацепромазин чаще всего вводят в виде инъекций в условиях больницы.
        Поговорите со своим ветеринаром относительно конкретных инструкций по дозировке при назначении таблеток ацепромазина,
        которые обычно назначают за 45 минут до часа до седации.

        Пожалуйста, обратитесь к своему ветеринару, если вы рассматриваете это лекарство в качестве успокоительного средства для
        путешествий или ухода за собакой или кошкой, поскольку ваш ветеринар может обсудить альтернативные лекарства.</p>

    <h2>Пропустили дозу?</h2>
    <p>
        Поговорите со своим ветеринаром о том, что делать, если вы забыли дать дозу ацепромазина.
        Как правило, они могут попросить вас дать его, когда вы вспомните. Не давайте дополнительных или двойных доз.
    </p>
</div>
<%- include('../infoData') -%>
<%- include('../footer') -%>
</body>
</html>
