<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>HDCorporation | Ацетаминофен тайленол</title>
</head>
<body>
<header>
    <a href="http://localhost:3000/pets/index"><h1 class="home">HelpDogsCorporation!</h1></a>
    <h3>Ацетаминофен тайленол</h3>
</header>
<%- include('../symbtomsHeader') -%>
<h1 class="Symptom">Ацетаминофен тайленол</h1>

<div class="info">
    <h2>Что такое ацетаминофен (Тайленол®)?</h2>
    <p>
        Ацетаминофен (Тайленол®) — это препарат для людей, который очень редко используется у собак и лошадей в качестве обезболивающего и жаропонижающего средства. Тайленол® обычно не назначают, поскольку ацетаминофен может иметь серьезные побочные эффекты у домашних животных, включая повреждение печени и токсичность эритроцитов.

        Если ветеринар прописывает собаке ацетаминофен, его обычно назначают в дополнение к другим лекарствам, таким как кодеин или трамадол, как часть плана лечения боли, состоящего из нескольких препаратов.

        Ацетаминофен в настоящее время исследуется в качестве варианта лечения лошадей с ламинитом, поскольку ацетаминофен, по-видимому, не оказывает существенных побочных эффектов на лошадей. Никогда не давайте лошади ацетаминофен без руководства и указаний ветеринара.

        Тайленол® очень токсичен для кошек, его нельзя давать кошкам или оставлять в местах, доступных для кошек.</p>

    <h2>Как действует ацетаминофен (Тайленол®)</h2>
    <p>
        Точный способ, которым ацетаминофен снижает жар и облегчает боль, не совсем ясен, но предполагается,
        что он увеличивает количество серотонина и норадреналина в организме,
        воздействуя на определенные пути нейромедиаторов центральной нервной системы.
        Ацетаминофен также влияет на путь ЦОГ в центральной нервной системе, что снижает выработку натуральных химических веществ,
        вызывающих воспаление.</p>
    <p>
        Ацетаминофен одобрен FDA для применения человеком под многими торговыми марками, включая Тайленол®, Аминофен®,
        Панадол® и непатентованный ацетаминофен. Ацетаминофен в настоящее время не одобрен FDA в качестве ветеринарного препарата.
        Тем не менее, он легко используется в ветеринарии, и ветеринары могут на законных основаниях назначать животным
        определенные человеческие лекарства при определенных обстоятельствах.
        Это называется использованием вне инструкции или не по назначению, поскольку такое использование не описано на этикетке
        препарата. Ваш ветеринар определит, подходит ли это лекарство вашему питомцу.
    </p>
    <h2>Ацетаминофен (Тайленол®) Указания по применению</h2>
    <p>
        Следуйте инструкциям на этикетке препарата или рекомендациям ветеринара.

        Из-за потенциальной серьезности побочных эффектов у собак следуйте всем указаниям вашего ветеринара.
    </p>
    <b>Пропустили дозу?</b>
    <p>
        Если вы забыли дать дозу Тайленола®, обратитесь к ветеринару.
        Не давайте дополнительных или двойных доз.
    </p>
</div>
<%- include('../infoData') -%>
<%- include('../footer') -%>
</body>
</html>
