<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>HDCorporation | Ацетаминофен тайленол</title>
</head>
<body>
<header>
    <a href="http://localhost:3000/pets/index"><h1 class="home">HelpDogsCorporation!</h1></a>
    <h3>Гидроксид алюминия</h3>
</header>
<%- include('../symbtomsHeader') -%>
<h1 class="Symptom">Гидроксид алюминия</h1>

<div class="info">
    <h2>Что такое гидроксид алюминия?</h2>
    <p>
        Гидроксид алюминия — распространенное лекарство, доступное в жидкой форме или в форме таблеток для лечения аномально
        высокого уровня фосфора у собак, кошек, мелких млекопитающих и рептилий с заболеваниями почек.

        Обычно его назначают, когда диеты с низким содержанием фосфора недостаточно
        для поддержания нормальной концентрации фосфора в крови.

        Гидроксид алюминия можно применять у коров в качестве антацидного средства и для лечения язв сычуга.
        Его также редко используют у лошадей для лечения гастродуоденальных язв.

        Гидроксид алюминия одобрен FDA для использования человеком в качестве лекарства, отпускаемого без рецепта.
        В настоящее время он не одобрен FDA в качестве ветеринарного препарата.
        Тем не менее, он легко используется в ветеринарии,
        и ветеринары могут на законных основаниях назначать животным определенные человеческие лекарства при определенных
        обстоятельствах. Это называется использованием вне инструкции или не по назначению, поскольку такое использование не
        описано на этикетке препарата.
    </p>
    <h2>Как работает гидроксид алюминия</h2>
    <p>
        Гидроксид алюминия является фосфатсвязывающим средством, то есть он напрямую связывается с фосфором, электролитом,
        в желудочно-кишечном тракте. Блокируя всасывание дополнительного фосфора из пищи,
        он предотвращает повышение уровня фосфора в крови и помогает поддерживать нормальную концентрацию фосфора в крови.

        Избыток желудочной кислоты может вызвать язвы.
        Антацидные свойства гидроксида алюминия позволяют ему связывать и нейтрализовать желудочную кислоту,
        тем самым создавая менее кислую среду в желудке, что, в свою очередь, может предотвратить образование или ухудшение язв.

        В определенных обстоятельствах ваш ветеринар может порекомендовать рецептуру гидроксида алюминия.
        Комбинированные лекарства назначаются, если есть конкретная причина,
        по которой здоровье вашего питомца не может контролироваться препаратом, одобренным FDA, например,
        если у вашего питомца проблемы с приемом таблеток в форме капсул,
        дозировка недоступна в продаже или у домашнего животного аллергия. к ингредиенту одобренного FDA лекарства.
        Комбинированные лекарства не одобрены FDA. Они создаются ветеринаром или лицензированным фармацевтом на индивидуальной основе,
        чтобы наилучшим образом соответствовать конкретным потребностям пациента.
        Подробнее о лекарственных препаратах вы можете узнать здесь.
    </p>
    <h2>Направления применения гидроксида алюминия</h2>
    <p>
        Следуйте инструкциям на этикетке препарата или рекомендациям ветеринара.
        Чтобы гидроксид алюминия был эффективным,
        его следует давать непосредственно перед едой или смешивать с кормом домашнего животного.

        Частота использования этого лекарства во многом зависит от вида и причины его использования.
        Ваш ветеринар определит лучший курс лечения для вашего питомца, исходя из его симптомов и характеристик.
    </p>
    <b>Пропустили дозу?</b>
    <p>
        Поговорите со своим ветеринаром о том, что делать, если вы забыли дать дозу гидроксида алюминия.
        Как правило, они могут посоветовать вам давать его перед следующим приемом пищи вашего питомца или вместе с ним.
        Однако, в зависимости от указаний вашего ветеринара, если уже почти пришло время приема следующей дозы,
        он может посоветовать вам пропустить пропущенную дозу и возобновить обычный график дозирования.
        Не давайте дополнительных или двойных доз.
    </p>
</div>
<%- include('../infoData') -%>
<%- include('../footer') -%>
</body>
</html>
