<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>HDCorporation | Медицина</title>
</head>
<body>
<header>
    <a href="http://localhost:3000/pets/index"><h1 class="home">HelpDogsCorporation!</h1></a>
    <h3> часто задаваемые вопросы.</h3>
</header>

<%- include('../symbtomsHeader') -%>

<div id="main-content">
    <h1>Введение</h1>
    <p>Правильное питание является ключевым аспектом заботы о домашних животных.
        Выбор подходящего корма для вашего питомца влияет на его здоровье, энергию и общее благополучие.
        В этой документации мы рассмотрим основные аспекты кормления различных видов домашних животных.
    </p>
    <h1>1. Собаки</h1>
    <h2>1.1 Типы кормов</h2>
    <p><b>Сухие корма:</b> Содержат все необходимые питательные вещества, обеспечивают хорошую жевательную активность собаки.</p>

    <p><b>Влажные корма:</b> Могут быть полезны для собак с проблемами с поеданием сухого корма или для тех,
        кому нужно дополнительное увлажнение.</p>

    <p><b>Натуральное питание:</b> Основано на свежих продуктах, таких как мясо, овощи и зерновые. Т
        ребует более внимательного контроля и баланса.</p>

    <h2>1.2 Рекомендации по кормлению</h2>
    <p>
        Учитывайте возраст, размер, активность и здоровье собаки при выборе корма.
        Постепенно переходите от одного вида корма к другому, чтобы избежать проблем с желудком.
        Следите за порцией корма в соответствии с инструкциями производителя.
    </p>

    <h1>2. Кошки</h1>
    <h2>2.1 Типы кормов</h2>
    <p><b>Сухие корма:</b> Обеспечивают комплексное питание, удобны в хранении и долговечны.</p>

    <p><b>Консервы:</b> Могут быть полезны для кошек с проблемами с поеданием сухого корма, предоставляют дополнительное увлажнение.</p>

    <p><b>Сырые и натуральные корма:</b> В основе лежат нежареные ингредиенты, сохраняющие больше питательных веществ.</p>

    <h2>2.2 Рекомендации по кормлению</h2>
    <p>
        Учитывайте возраст, вес, породу и особенности здоровья кошки.
        Обеспечивайте свободный доступ к чистой воде.
        Поддерживайте баланс между сухим и влажным кормом для удовлетворения потребности кошачьего организма.
    </p>

    <h1>3. Грызуны (хомяки, кролики)</h1>
    <h2>3.1 Типы кормов</h2>
    <p><b>Смешанные корма:</b> Состоят из смеси семян, сена и других ингредиентов.</p>

    <p><b>Готовые пеллеты:</b> Обеспечивают балансированный рацион, уменьшая возможность выборочного поедания.</p>

    <p>Сена: Необходимо для поддержания здоровья зубов и желудка.</p>

    <h2>3.2 Рекомендации по кормлению</h2>
    <p>Избегайте перекорма, предоставляя рацион в соответствии с рекомендациями ветеринара.</p>

    <p>Обеспечивайте разнообразие, предоставляя свежие овощи и фрукты.</p>

    <p>Мониторьте зубы и предоставляйте возможность для их износа.</p>

    <h2>Заключение</h2>
    <p>Выбор подходящего корма для вашего питомца является важным решением, которое влияет на его долгосрочное здоровье и счастье.
        Всегда консультируйтесь с ветеринаром, чтобы определить потребности вашего питомца и выбрать оптимальный рацион.</p>

</div>
<%- include('../infoData') -%>

<%- include('../footer') -%>
</body>
</html>
