<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>HDCorporation | Главная</title>
</head>
<body>
<%- include('../header') -%>

<div id="dogs-api">

</div>

<div class="additional-info">
    <h2>Полезные ресурсы</h2>
    <p>Посетите наши партнерские сайты для получения дополнительной информации о собаках:</p>
    <ul>
        <li><a href="https://www.dogcare.com" target="_blank" class="external-link">DogCare.com</a></li>
        <li><a href="https://www.trainingdogs.com" target="_blank" class="external-link">TrainingDogs.com</a></li>
    </ul>
</div>
<%- include('../infoData') -%>
<br><br><%- include('../footer') -%>
</body>
</html>
