<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>HDCorporation | Медицина</title>
</head>
<body>
<header>
    <a href="http://localhost:3000/pets/index"><h1 class="home">HelpDogsCorporation!</h1></a>
    <h3>Часто задаваемые вопросы.</h3>
</header>

<%- include('../symbtomsHeader') -%>

<div id="main-content">
    <div class="faq-section">
        <h2 class="h2">Ацепромазин: часто задаваемые вопросы</h2>

        <div class="faq-question">Как долго действует ацепромазин у собаки или кошки?</div>
        <div class="faq-answer">
            Когда пероральная версия ацепромазина используется для седации или других стрессовых ситуаций, ее действие
            длится примерно 1-4 часа. Однако у некоторых домашних животных действие этого лекарства может сохраняться до 24
            часов после приема.
        </div>

        <div class="faq-question">Является ли ацепромазин тем же самым, что и Ксанакс®?</div>
        <div class="faq-answer">
            Ксанакс® — это фирменная версия непатентованного алпразолама, бензодиазепинового седативного средства, которое
            часто назначают не по назначению домашним животным при тревоге или стрессе. Ацепромазин принадлежит к другому
            классу седативных средств, называемых фенотиазинами.
        </div>

        <div class="faq-question">Каким животным нельзя назначать ацепромазин?</div>
        <div class="faq-answer">
            Поговорите со своим ветеринаром об использовании ацепромазина у брахицефальных пород, таких как боксеры,
            гигантские породы и борзые. Кроме того, ваш ветеринар может посоветовать вам избегать приема этого лекарства у
            пожилых домашних животных и животных с сопутствующими медицинскими проблемами (включая, помимо прочего,
            заболевания печени или сердца, эпилепсию, обезвоживание, анемию). Ваш ветеринар сможет посоветовать лучшие
            варианты лекарств для вашего питомца в зависимости от его здоровья.
        </div>

        <div class="faq-question">Ни один ветеринарный автор или квалифицированный рецензент не получил никакой
            компенсации от производителя лекарства за создание этой статьи.</div>
        <div class="faq-answer">
            Весь контент, содержащийся в этой статье, получен из общедоступных источников или от производителя.
        </div>
    </div>

</div>

<div class="diseases">
    <div>
        <h2>Виды заболеваний</h2>
        <a href="medication/acepromazine-maleate" class="sick">Ацепромазина малеат</a>
        <a href="medication/acetaminophen-tylenol" class="sick">Ацетаминофен тайленол</a>
        <a href="medication/aluminum-hydroxide" class="sick">Гидроксид алюминия</a>
    </div>
</div>
<%- include('../infoData') -%>

<%- include('../footer') -%>
</body>
</html>
