<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>HDCorporation | Политика конфиденциальности</title>
</head>
<body>
<header>
    <a href="http://localhost:3000/pets/index"><h1 class="home">HelpDogsCorporation!</h1></a>
    <h3>Политика конфиденциальности</h3>
</header>

<%- include('../symbtomsHeader') -%>

<div id="main-content">
    <h2>Политика конфиденциальности</h2>

    <h3>Дата последнего обновления: 18.02.2024</h3>
    <p>
    Ваша конфиденциальность имеет для нас высший приоритет.
    В данной Политике конфиденциальности мы поясним, как мы собираем,
    используем, передаем и храним вашу личную информацию при использовании нашего веб-сайта, посвященного заботе о питомцах.
    </p>

    <b>Информация, которую мы собираем:</b>
    <p>
    Мы можем собирать различные типы информации, включая, но не ограничиваясь, вашим именем, адресом электронной почты,
    и информацией, которую вы предоставляете в комментариях или через формы связи.
    </p>

    <b>Использование информации:</b>
    <p>
    Мы используем предоставленную вами информацию для предоставления актуальной и полезной информации о заботе о питомцах.
    Мы также можем использовать вашу информацию для улучшения наших услуг и взаимодействия с вами.
    </p>

    <b>Хранение и защита информации:</b>
    <p>
    Мы предпринимаем меры безопасности для защиты вашей личной информации от несанкционированного доступа и использования.
    Мы храним ваши данные на защищенных серверах и стремимся соблюдать все необходимые меры предосторожности.
    </p>

    <b>Передача информации третьим сторонам:</b>
    <p>
    Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим сторонам без вашего согласия,
    за исключением случаев, предусмотренных законом.
    </p>

    <b>Использование файлов cookie:</b>
    <p>
    Наш сайт может использовать файлы cookie для улучшения вашего опыта.
    Вы можете отключить файлы cookie в настройках вашего браузера, однако это может повлиять на функциональность сайта.
    </p>

    <b>Ссылки на сторонние ресурсы:</b>
    <p>
    Наш сайт может содержать ссылки на сторонние веб-ресурсы.
    Мы не несем ответственности за политику конфиденциальности или практики этих сторон.
    </p>

    <b>Изменения в политике конфиденциальности:</b>
    <p>
    Мы оставляем за собой право обновлять данную политику конфиденциальности при необходимости.
    Пожалуйста, периодически пересматривайте эту страницу для ознакомления с изменениями.
    </p>

    <p>
    Продолжая использовать наш веб-сайт, вы соглашаетесь с нашей политикой конфиденциальности.
    Если у вас есть какие-либо вопросы или замечания, пожалуйста, <a href="/pets/contact">свяжитесь с нами.</a>
    </p>

    <h2>Спасибо за доверие!</h2>
</div>
<%- include('../infoData') -%>

<%- include('../footer') -%>
</body>
</html>
