<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>HDCorporation | Правила использования</title>
</head>
<body>
<header>
    <a href="http://localhost:3000/pets/index"><h1 class="home">HelpDogsCorporation!</h1></a>
    <h3>Правила использования</h3>
</header>

<%- include('../symbtomsHeader') -%>

<div id="main-content">
    <h2>Правила использования</h2>

    <p>
        Добро пожаловать на сайт <b class="home2">HelpDogsCorporation</b>, посвященный информации о заботе, здоровье, лекарствах, видах кормов и тренировке питомцев.
    Пожалуйста, внимательно ознакомьтесь с правилами использования, прежде чем продолжить просмотр сайта.
    </p>

    <b>Цель Сайта:</b>
    <p>
    Наш сайт предоставляет информацию и рекомендации о заботе и уходе за домашними животными.
    Мы стараемся предоставить точные и актуальные материалы для помощи в поддержании здоровья и счастья ваших питомцев.
    </p>

    <b>Отказ от ответственности:</b>
    <p>
    Информация, предоставленная на сайте, не заменяет профессиональную консультацию ветеринара или
    другого квалифицированного специалиста. Перед принятием каких-либо решений относительно заботы о здоровье питомца,
    рекомендуется консультироваться с ветеринаром.
    </p>

    <b>Авторские права:</b>
    <p>
    Вся информация и контент на сайте защищены авторскими правами.
    Пожалуйста, уважайте права наших авторов и не копируйте материалы без разрешения.
    </p>

    <b>Комментарии и Обратная связь:</b>
    <p>
    Мы приветствуем ваше участие и обратную связь.
    Однако мы оставляем за собой право удалять комментарии, содержащие оскорбления, спам,
    или несоответствующие тематике сайта материалы.
    </p>

    <b>Безопасность и Конфиденциальность:</b>
    <p>
    Мы прилагаем усилия для обеспечения безопасности и конфиденциальности ваших данных.
    Пожалуйста, ознакомьтесь с нашей политикой конфиденциальности для получения дополнительной информации.
    </p>

    <h2>Спасибо за посещение нашего сайта! Мы надеемся, что вы найдете полезную информацию для заботы о своих питомцах.</h2>
</div>
<%- include('../infoData') -%>

<%- include('../footer') -%>
</body>
</html>
