<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HDCorporation | Дрессировка</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <a href="http://localhost:3000/pets/index"><h1 class="home">HelpDogsCorporation!</h1></a>
    <h3>Дрессировка.</h3>
</header>
<%- include('../symbtomsHeader') -%>

<div class="info">
    <h2>Дрессировка животных</h2>
    <p>
        Дрессиро́вка живо́тных (от фр. dresser «выправлять; обучать») — комплекс обучающих действий над животными,
        предпринимаемых для выработки и закрепления различных условных рефлексов, умений и навыков.
        Дрессировать нужно и можно с целью развития дружеских отношений,
        формирования адекватного поведения животного для нахождения его в обществе,
        выполнения работ (охраны и защиты в определённых обстоятельствах,
        поиска объектов какого-либо типа и так далее) или развлечения. Дрессировка (Натаска[1]) — приучение животных к
        определенным правильным движениям, действиям и поведению[2], и является необходимостью для комфортного взаимного
        сосуществования человека с определёнными видами животных. Для диких[3] крупных животных (например, лошадей[4], верблюдов,
        слонов и тому подобное), а особенно для хищников (собаки[5],
        медведи, львы, тигры, пантеры и тому подобное) — может использоваться словосочетание — укрощение животных[6] (англ. taming).
        Дрессировка один из древнейших методов управления животными и некоторыми людьми.
        Многие люди используют дрессировку и подвергаются дрессировке, даже не подозревая об этом,
        хотя могут использоваться и это научно обоснованное, целенаправленное, методическое и систематическое воздействие на животное,
        с целью выработки у него конкретных, необходимых навыков и умений для использования каком-либо деле (работе, службе,
        народно-хозяйственной деятельности или управления поведением в повседневной жизни, и так далее).
        Два главных понятия дрессировки — это управляющие сигналы и подкрепление: положительное или отрицательное.
        Дрессировку следует отличать от стимулирования, мотивации — системы наград и наказаний.
        Награды и наказания приходят обычно после того, как действие совершено, часто спустя длительное время, как,
        например, в уголовном преследовании. Подкреплением же называется то, что происходит во время поведения,
        что сопровождает, как бы «комментирует» поведение и направляет его в ту или иную сторону[7].
        Позитивное подкрепление, например улыбка, ласка, доброе слово, в целом эффективнее, чем негативное,
        и достаточно широко используется как в отношении животных, так и между людьми.
        Негативное подкрепление (нахмуренные брови, недовольная интонация и прочее) не эффективно в отношении свободных существ,
        которые могут просто уплыть, уйти или убежать из-под негативного воздействия.
    </p>
        <h2>Основа дрессировки</h2>
        <p>
            Основой дрессировки животных является образование условных рефлексов, согласно учению И. П.
            Павлова о высшей нервной деятельности. Используя самые различные раздражители, например, такие как звуковые,
            пищевые и сигналы жестом, являющиеся условными, и механические действия, считающиеся безусловными рефлексами.
            Именно такое воздействие вызывает у животных необходимую реакцию, которую пытается закрепить дрессировщик.</p>

        <h2>Способы и методы дрессировки</h2>

    <h2>Заклинатель черепах</h2>
        <p>Человек, занимающийся дрессировкой должен уметь чувствовать зависимость типа высшей нервной деятельности обучаемого
            животного от его особенностей и только после определения этой зависимости можно выбрать необходимый для данного
            животного метод дрессировки.</p>

    <h2>Контрастные методы</h2>
        <p>В случае выполнения необходимых команд животное поощряют, в случае неподчинения — наказывают.
            Для того, чтобы выработанные навыки закрепились, животное необходимо периодически тренировать.
            В этом случае дрессированное животное будет идеально выполнять все действия, которые требует от него человек.</p>

        <h2>Болевой метод</h2>
    <p>Болевой метод, который вынуждает животное выполнять необходимые дрессировщику действия, основан на ощущениях боли,
        которое заставляет животное делать то, чего от него добивается человек.
        Этот негуманный метод применяется некоторыми специалистами при дрессировке хищников в цирке и крупных животных.
        Также он получил распространение в сельской местности, в обращении со скотом. Вырабатывая навыки,
        человек добивается от животного выполнения заданных действий.</p>

        <h2>Жестокие и болевые методы дрессировки много лет подвергаются критике различных обществ защиты животных.</h2>

        <h2>Поощрительный метод</h2>
    <p>Основная статья: Безболевая (поощрительная) дрессировка животных</p>
        <p>Поощрительный метод дрессировки используется в обучении охотничьих и пастушьих собак,
        а также цирковых животных. Собака, как существо с достаточно развитой высшей нервной деятельностью,
        хорошо воспринимает такой метод обучения. При поощрительном методе обучения натуральные рефлексы закрепляют дачей корма,
        или лаской. Например, многие животные готовы выполнить необходимое задание за то, что хозяин их просто погладит,
        или даст кусочек лакомства. Чем выше развит в интеллектуальном уровне объект дрессировки,
        тем быстрее он воспринимает и выполняет задания, тем быстрее происходит закрепление необходимого рефлекса.</p>

        <h2>Подражательный метод</h2>
        <p>Подражательный метод дрессировки основывается на повторении молодым животным действий другого,
            более старшего и уже обученного. Этот метод широко применяется для обучения пастушьих собак,
            охраняющих отару овец и помогающих чабану собирать животных в отару.
            Щенки, видя как их родители выполняют необходимые команды, получают похвалу человека,
            очень быстро повторяют действия старших особей и дрессируются в процессе работы.</p>

        <h2>Подражательный метод применяется также при дрессировке дельфинов.</h2>

        <h2>Виды и разнообразие дрессируемых животных</h2>
        <p>Дрессировке подлежат различные виды как диких, так и домашних животных. Диких животных предварительно приручают,
            а потом дрессируют. Чем моложе животное, тем легче оно дрессируется и привыкает к человеку.
            Элементами дрессировки могут быть простейшие действия с сельскохозяйственными животными, например, доярка доит корову,
            но если животное предварительно не подвергалось определённой дрессировке,
            то дойка будет проблематичной и корова просто не отдаст доярке молоко.
            Именно поэтому животное предварительно приучают к месту, помещению, к виду и запаху человека.
            Это простейшая дрессировка, но даже такое приучение и приручение считается тренингом.</p>

        <p>Лошадь дрессируют, приучая к хождению в поводе, чистке, закрепленному у неё на спине седлу,
            а тренинг лошадей для выездки или для высшей школы верховой езды является достаточно сложной дрессировкой,
            требующей определённых знаний и умений человека.</p>

</div>
<%- include('../infoData') -%>
<%- include('../footer') -%>
</body>
</html>